<form novalidate (submit)="onSubmit()" class="row justify-content-md-center" #form="ngForm">
  <div class="row" style="margin-top: 100px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3 style="text-align: center;">Validate form - Template Form</h3>
        <div class="form-group row">
          <label for="example-text-input" class="col-md-2 col-form-label">Name:</label>
          <div class="col-md-10">
            <input class="form-control" type="text" id="example-text-input" ngModel name="name" required #name="ngModel">
            <div class="alert alert-danger" *ngIf="name?.errors?.required 
                                                  && name?.touched">Name is required!</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="example-email-input" class="col-md-2 col-form-label">Email:</label>
          <div class="col-md-10">
            <input class="form-control" type="email" id="example-email-input" ngModel name="email" required #email="ngModel">
            <div class="alert alert-danger" *ngIf="email?.errors?.required && email?.touched">Email is required!</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="example-tel-input" class="col-md-2 col-form-label">Tel:</label>
          <div class="col-md-10">
            <input class="form-control" type="tel" id="example-tel-input" ngModel name="tel" required #tel="ngModel">
            <div class="alert alert-danger" *ngIf="tel?.errors?.required && tel?.touched">Tel is required!</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-10 offset-md-2">
            <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
          </div>
        </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</form>
